<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Seoul.It.Blackjack.Frontend.Components.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Seoul.It.Blackjack.Frontend.Components.Layout.MainLayout)">
            <p>페이지를 찾을 수 없습니다.</p>
        </LayoutView>
    </NotFound>
</Router>
